.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-logo {
  max-height: 200px;
  max-width: 200px;
}

.bottom-bar {
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
  background-color: #ffffff;
  border: solid 1px #979797;
  justify-content: space-between;
  display: flex;
}

.bottom-bar-icon {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 30px;
  color: #3e3e3e;
  margin-right: auto;
  margin-left: auto;
}

.paddingTop6{
  padding-top: 6px;
}

.icon-active {
    color: #089b9a
}

.user-info {
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.user-pic {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.user-name {
    font-family: 'roboto';
    font-size: 25px;
    margin-left: 20px;
    font-weight: 500;
    text-align: left;
    color: #3e3e3e;
    margin-top: auto;
    margin-bottom: auto;
}

.user-cpf {
    font-family: 'roboto';
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
    text-align: left;
    color: #aeaeae;
    margin-top: auto;
    margin-bottom: auto;
}

.paddingTop20 {
    padding-top: 20px;
}

.user-settings {
    float: right;
    margin-top: auto;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
    font-size: 25px;
}

.amount-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #aeaeae;
    display: flex;
}

.amount-value {
    float: left;
    font-size: 65px;
    color: #089b9a;
    display: flex;
}

.amount-value-money {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px
}

.premmia-box {
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 1px 0px 5px 0px;
    padding: 0px 5px 5px 10px;
    display: inline-flex;
}

.padding20Both {
    padding-left: 20px;
    padding-right: 20px;
}

.balance-box {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 0;
}

.balance-box p {
    width: 370px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #aeaeae;
}

.transfer-balance {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #188b47;
}

.transfer-text {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: #aeaeae;
}

.fontSizeSmall {
    font-size: small;
}

.transfer-btn {
    border-radius: 100px;
    margin-top: 20px;
    width: 175px;
}

.card-number {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #3e3e3e;
}

.remove-card {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    text-align: right;
    color: #d0011b;
    margin-left: auto;

}

.add-balance {
    font-size: x-large;
    padding: 25px 10px;
}

.premmia-points {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #3e3e3e;
}